In [11]:
import pandas as pd
from functions import calc, retrieve, visualize as viz

import warnings
warnings.filterwarnings('ignore')
import yfinance as yf

In [13]:
downloadedData = yf.download('A AAL AAP')
downloadedData.to_csv('complete.csv')

[*********************100%***********************]  3 of 3 completed

In [30]:
readData = pd.read_csv('complete.csv')
readData.set_index(readData.columns.values[0])

,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
Unnamed: 0,,,,,,,,,,,,,,,,,,
NaN,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP
Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-11-18,26.845924377441406,NaN,NaN,31.473533630371094,NaN,NaN,35.765380859375,NaN,NaN,28.612302780151367,NaN,NaN,32.54649353027344,NaN,NaN,62546380,NaN,NaN
1999-11-19,24.63419532775879,NaN,NaN,28.880544662475586,NaN,NaN,30.75822639465332,NaN,NaN,28.47818374633789,NaN,NaN,30.713518142700195,NaN,NaN,15234146,NaN,NaN
1999-11-22,26.845924377441406,NaN,NaN,31.473533630371094,NaN,NaN,31.473533630371094,NaN,NaN,28.65700912475586,NaN,NaN,29.551143646240234,NaN,NaN,6577870,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-08,132.4499969482422,14.359999656677246,125.75,132.4499969482422,14.359999656677246,125.75,134.2100067138672,14.65999984741211,125.91000366210938,131.75,14.229999542236328,122.8499984741211,134.00999450683594,14.34000015258789,123.94999694824219,1005300,34586900.0,868500.0
2023-05-09,127.3499984741211,14.470000267028809,125.5199966430664,127.3499984741211,14.470000267028809,125.5199966430664,128.5,14.5600004196167,126.58000183105469,125.36000061035156,14.210000038146973,124.05000305175781,128.5,14.380000114440918,125.4000015258789,3437100,19682700.0,754400.0
2023-05-10,128.05999755859375,14.34000015258789,125.80000305175781,128.05999755859375,14.34000015258789,125.80000305175781,128.89999389648438,14.699999809265137,127.30999755859375,126.16000366210938,14.050000190734863,124.5999984741211,128.7100067138672,14.670000076293945,127.30999755859375,1255700,21469100.0,751000.0
2023-05-11,127.66000366210938,14.069999694824219,124.16999816894531,127.66000366210938,14.069999694824219,124.16999816894531,127.69999694824219,14.289999961853027,125.41999816894531,125.47000122070312,14.020000457763672,123.30999755859375,127.16999816894531,14.260000228881836,125.0199966430664,1580600,17049600.0,676300.0
2023-05-12,127.48999786376953,14.020000457763672,122.86000061035156,127.48999786376953,14.020000457763672,122.86000061035156,128.67999267578125,14.199999809265137,124.70999908447266,126.52999877929688,13.869999885559082,121.62000274658203,128.67999267578125,14.1899995803833,124.70999908447266,1422600,16707500.0,755200.0

In [34]:
readData

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP,A,AAL,AAP
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-11-18,26.845924377441406,NaN,NaN,31.473533630371094,NaN,NaN,35.765380859375,NaN,NaN,28.612302780151367,NaN,NaN,32.54649353027344,NaN,NaN,62546380,NaN,NaN
3,1999-11-19,24.63419532775879,NaN,NaN,28.880544662475586,NaN,NaN,30.75822639465332,NaN,NaN,28.47818374633789,NaN,NaN,30.713518142700195,NaN,NaN,15234146,NaN,NaN
4,1999-11-22,26.845924377441406,NaN,NaN,31.473533630371094,NaN,NaN,31.473533630371094,NaN,NaN,28.65700912475586,NaN,NaN,29.551143646240234,NaN,NaN,6577870,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,2023-05-08,132.4499969482422,14.359999656677246,125.75,132.4499969482422,14.359999656677246,125.75,134.2100067138672,14.65999984741211,125.91000366210938,131.75,14.229999542236328,122.8499984741211,134.00999450683594,14.34000015258789,123.94999694824219,1005300,34586900.0,868500.0
5906,2023-05-09,127.3499984741211,14.470000267028809,125.5199966430664,127.3499984741211,14.470000267028809,125.5199966430664,128.5,14.5600004196167,126.58000183105469,125.36000061035156,14.210000038146973,124.05000305175781,128.5,14.380000114440918,125.4000015258789,3437100,19682700.0,754400.0
5907,2023-05-10,128.05999755859375,14.34000015258789,125.80000305175781,128.05999755859375,14.34000015258789,125.80000305175781,128.89999389648438,14.699999809265137,127.30999755859375,126.16000366210938,14.050000190734863,124.5999984741211,128.7100067138672,14.670000076293945,127.30999755859375,1255700,21469100.0,751000.0
5908,2023-05-11,127.66000366210938,14.069999694824219,124.16999816894531,127.66000366210938,14.069999694824219,124.16999816894531,127.69999694824219,14.289999961853027,125.41999816894531,125.47000122070312,14.020000457763672,123.30999755859375,127.16999816894531,14.260000228881836,125.0199966430664,1580600,17049600.0,676300.0
5909,2023-05-12,127.48999786376953,14.020000457763672,122.86000061035156,127.48999786376953,14.020000457763672,122.86000061035156,128.67999267578125,14.199999809265137,124.70999908447266,126.52999877929688,13.869999885559082,121.62000274658203,128.67999267578125,14.1899995803833,124.70999908447266,1422600,16707500.0,755200.0

In [15]:
downloadedData

             Adj Close                          Close
                     A    AAL         AAP           A    AAL         AAP
Date
1999-11-18   26.845924    NaN         NaN   31.473534    NaN         NaN  \
1999-11-19   24.634195    NaN         NaN   28.880545    NaN         NaN
1999-11-22   26.845924    NaN         NaN   31.473534    NaN         NaN
1999-11-23   24.405386    NaN         NaN   28.612303    NaN         NaN
1999-11-24   25.053658    NaN         NaN   29.372318    NaN         NaN
...                ...    ...         ...         ...    ...         ...
2023-05-08  132.449997  14.36  125.750000  132.449997  14.36  125.750000
2023-05-09  127.349998  14.47  125.519997  127.349998  14.47  125.519997
2023-05-10  128.059998  14.34  125.800003  128.059998  14.34  125.800003
2023-05-11  127.660004  14.07  124.169998  127.660004  14.07  124.169998
2023-05-12  127.489998  14.02  122.860001  127.489998  14.02  122.860001

                  High                            Low
                     A    AAL         AAP           A    AAL         AAP
Date
1999-11-18   35.765381    NaN         NaN   28.612303    NaN         NaN  \
1999-11-19   30.758226    NaN         NaN   28.478184    NaN         NaN
1999-11-22   31.473534    NaN         NaN   28.657009    NaN         NaN
1999-11-23   31.205294    NaN         NaN   28.612303    NaN         NaN
1999-11-24   29.998213    NaN         NaN   28.612303    NaN         NaN
...                ...    ...         ...         ...    ...         ...
2023-05-08  134.210007  14.66  125.910004  131.750000  14.23  122.849998
2023-05-09  128.500000  14.56  126.580002  125.360001  14.21  124.050003
2023-05-10  128.899994  14.70  127.309998  126.160004  14.05  124.599998
2023-05-11  127.699997  14.29  125.419998  125.470001  14.02  123.309998
2023-05-12  128.679993  14.20  124.709999  126.529999  13.87  121.620003

                  Open                       Volume
                     A    AAL         AAP         A         AAL       AAP
Date
1999-11-18   32.546494    NaN         NaN  62546380         NaN       NaN
1999-11-19   30.713518    NaN         NaN  15234146         NaN       NaN
1999-11-22   29.551144    NaN         NaN   6577870         NaN       NaN
1999-11-23   30.400572    NaN         NaN   5975611         NaN       NaN
1999-11-24   28.701717    NaN         NaN   4843231         NaN       NaN
...                ...    ...         ...       ...         ...       ...
2023-05-08  134.009995  14.34  123.949997   1005300  34586900.0  868500.0
2023-05-09  128.500000  14.38  125.400002   3437100  19682700.0  754400.0
2023-05-10  128.710007  14.67  127.309998   1255700  21469100.0  751000.0
2023-05-11  127.169998  14.26  125.019997   1580600  17049600.0  676300.0
2023-05-12  128.679993  14.19  124.709999   1422600  16707500.0  755200.0

[5908 rows x 18 columns]

In [22]:
readData['Date']

KeyError: 'Date'

In [17]:
rawdata = pd.read_csv('./data/rawdata.csv')

In [18]:
rawdata['Unnamed']

KeyError: 'Unnamed'